{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'meetings/home_page.css' %}">

   
        <title>CyberSecMeet</title>
    
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home-page' %}">CyberSecMeet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            <a class="nav-item nav-link" href="{% url 'home-page' %}">Home</a>

             <a class="nav-item nav-link" href="{% url 'about-page' %}">About</a>
             {% comment %}

             <a class="nav-item nav-link" href="{% url 'show-all-meetings' %}">Meetings</a>

             {% endcomment %}

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
             
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'index' %}">Dashboard</a>

                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                 <li class="nav-item dropdown">

                  
        
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-2">
          <div>
           
          </div>
        </div>
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

           <header class="mb-4">
                            <!-- Post title-->
                            <header>
                            </br>
                        </br>

                          <p class="text-danger font-weight-bold">Attention Cybersecurity Professionals.</p>

          <h6 class="fw-bolder mt-5 mb-5  font-weight-bold">Cybercrime Up 600% Due To COVID-19 Pandemic.</h6>

        <h1 class="fw-bolder mt-5 mb-5  font-weight-bold"> 

CyberSecMeet Easy new way to Take your cybersecurity knowledge and skills to the next level.
</h1>
                           
            </header>

       
  </br>
</br>



<p class="fw-bolder mt-5 mb-5">
Dear Cybersecurity professional,
</p>
<p class="fw-bolder mt-5 mb-5">
  If you are a Cybersecurity  professional who wants to take your knowledge and skills to the next level…
</p>
<p class="fw-bolder mt-5 mb-5">
Or if you want to meet other Cybersecurity  professionals like you online….
</p>
<p class="fw-bolder mt-5 mb-5">
Or if you want to get advice and talk about Cybersecurity  news and new trends…
</p>

<p class="fw-bolder mt-5 mb-5">
Then you are going to discover a new way that will make you go to the next level in your knowledge about cybersecurity.
</p>
<p class="fw-bolder mt-5 mb-5">
Just imagine how your life will be easier if you know that there is a nation of Cybersecurity  professionals who are willing to give you advice and tell you how to solve your problems when you have them.
</p>
<h2 class="fw-bolder mt-5 mb-5  font-weight-bold"> 

  How it works:
</h2>
<p class="fw-bolder mt-5 mb-5">
Every week you will meet with other cybersecurity professionals on zoom meeting so that you can discuss topics about cybersecurity with them….
</p>
<p class="fw-bolder mt-5 mb-5">
And if you have problems or things that you do not understand then you will ask other people in the group so that they give you advice or tell you about resources and books that could help you solve your problems.
</p>
<p class="fw-bolder mt-5 mb-5">





Just create an account and then….

</p>
<p class="fw-bolder mt-5 mb-5">
login to your account and see if you are an admin or a user….

</p>
<p class="fw-bolder mt-5 mb-5">

If you are a user then you will get the zoom link of the meeting in your account and if you did not find it wait until the admin will publish it...

</p>
<p class="fw-bolder mt-5 mb-5">
If you find yourself an admin then you need to create a zoom meeting so the other users with you in the group can join…
</p>
<p class="fw-bolder mt-5 mb-5">
 just create a zoom meeting and then publish it on your dashboard…

 </p>

<a class="btn btn-danger btn-lg btn-block" href="{% url 'register' %}" role="button">Join Now</a>
</br>
</br>
        </div>
        <div class="col-md-2">
          <div >
           
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
