{% extends "meetings/professor_base_dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <div class="card">
   <ul class="list-group list-group-flush">
    
   {% for meeting  in meetings %}
    <li class="list-group-item">
        <p>meeting id : {{ meeting.id }}</p>
        <p>{{ meeting.zoom_url }}</p>
        <p>{{ meeting.about_meeting }}</p>
        <p>{{ meeting.date|date }}</p>
        <p>{{ meeting.time|time }}</p>

      

        <div>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/delete/{{meeting.id }}" role="button">Delete Meeting</a>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/update/{{meeting.id }}" role="button">Update Meeting</a>
       </div>

      </li>
    {% endfor %}
    </div>
{% endblock content %}
