{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="content-section">

      <h2>All Meetings</h2>
    <div class="card">
   <ul class="list-group list-group-flush">
    
   {% for meeting  in meetings %}
    <li class="list-group-item">
        <p>meeting id : {{ meeting.id }}</p>
        <p>{{ meeting.zoom_url }}</p>
        <p>{{ meeting.about_meeting }}</p>
        <p>{{ meeting.date|date }}</p>
        <p>{{ meeting.time|time }}</p>
        <a href="{{ meeting.zoom_url }}" class="btn btn-primary  active" role="button" aria-pressed="true">Open The meeting Link</a>


        </li>

    {% endfor %}
    </div>
{% endblock content %}
